<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">Already Account Exists</h1>
<form action="/alreadyaccountexist/" method="post">
    {% csrf_token %}
    <table align="center" border="2" bgcolor="#ffdead">
    <tr>
        <td>
            <input type="text" placeholder="User Name" required name="t1">
        </td>
    </tr>
    <tr>
        <td>
            <input type="password" placeholder="Password" required name="t2">
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="Login">
        </td>
    </tr>
        </table>
</form>
<table align="center" border="0">
   <td>
     {% load staticfiles %}
     <img src="{% static 'img20151225163312397hdrcopy2480676.jpg' %}" width="800" height="400">
  </td>
</table>
</body>
</html>