<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">Your Payment is Done Sucessful</h1>
<marquee direction="right">Happy Journey and Enjoy the Journey</marquee>

{% load staticfiles %}
<img src="{% static '1200px-Kunshan_South_Railway_Station_Platform_1.jpg' %}" width="600" height="350">

{% load staticfiles %}
<img src="{% static 'c55kbucg_jodhpur-station-240_625x300_13_August_18.jpg' %}" width="600" height="350">

</body>
</html>