<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">Availabilty Seats</h1>
<marquee direction="left-right" bgcolor="dark blue">If Seats Available You Can Book a Ticket If not Available You can Logout Thank you for Visiting your Site.   </marquee>

<form action="/pay/" method="post">
    {% csrf_token %}
<table align="center" border="2" bgcolor="#00ff7f">
    <tr>
         <td>
            <button name="chennai seats available" >Chennai 5 Seats available</button>
        </td>
    </tr>
          <tr>
              <td>
            <button name="Goa 3 Seats available">Goa 3 Seats available</button>
              </td>
              </tr>
          <tr>
              <td>
            <button name="Kerala 6 Seats available">Kerala 6 Seats available</button>
              </td>
          </tr>
          <tr>
              <td>
            <button name="Hyderabad 7 Seats available">Hyderabad 7 Seats available</button>
              </td>
              </tr>
            <tr>
                <td>
                <button name="vijayawada 8 Seats available">vijayawada 8 Seats available</button>
                </td>
                </tr>
              </table>
</form>
<br>
<form action="/logout/" method="post">
    {% csrf_token %}
<table align="center" border="0" bgcolor="#daa520">
 <tr>
     <td>
         <input type="submit" value="Logout">
     </td>
 </tr>
    </table>
    </form>
    <br>
<table align="center" bgcolor="#f5f5f5" border="0">
    <tr>
        <td>
{% load staticfiles %}
<img src="{% static 'DE286581_942long.jpg' %}" width="900" height="300">
    </td>
    </tr>
</table>
</body>
</html>